<!DOCTYPE html>
<html>

<head>
    {% block head %}    
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon/favicon.ico') }}">
    <title>{% block title %}Music Quiz{% endblock %}</title>
    {% endblock %}
</head>

<body>
    <div id="header">
        <div>
            <a id="return-home" href="{{ url_for('index') }}">Spotify Music Quiz</a>
        <div>
            {% if client is not none %}
            Hi, {{ client.me().display_name }} !
            <a href="{{ url_for('logout') }}">Logout</a>
            {% else %}
            <a href="{{ url_for('login') }}">Login with Spotify</a>
            {% endif %}
        </div>
    </div>
    <div id="content">{% block content %}{% endblock %}</div>
    <img class="index-img-background unselectable" src="{{ url_for('static', filename='media/the_servile_transparent.png') }}">
</body>

</html>