<!-- Get basic game parameters -->

{% extends "base.html" %}
{% block head %}
{{ super() }}
<script src="https://cdn.socket.io/4.6.0/socket.io.min.js" integrity="sha384-c79GN5VsunZvi+Q/WObgk2in0CbZsHnjEqvFxC5DxHn9lTfNce2WW6h2pH6u/kF+" crossorigin="anonymous"></script>
<script src="{{ url_for('static', filename='js/create_room.js') }}"></script>
{% endblock %}
{% block content %}
<div id="create-room-form">
    <form>
        <input id="roomID" type="text" placeholder="Room name" autocomplete="off" required>
        <br>
        <div>
            <select id="playlists" required>
                {% for playlist in playlists %}
                <option value="{{ playlist.id }}">{{ playlist.name }}</option>
                <br>
                {% endfor %}
            </select>
        </div>
        <br>
    </form>
    <button id="sendRoomCreatedButton">Play</button>
</div>
{% endblock %}